<div class="row">
  <div class="col-sm-12">
    This is public facing, anyone can see this without logging in.
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    This app. utilizes Firebase Firestore Database and Firebase Authentication to authenticate and save
    users.
  </div>
  <div class="col-sm-12">
    This app. uses NgRx as its sole state management.
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1 *ngFor="let i of testArr">
      Line {{i}}
      </h1>
  </div>
</div>

